# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo

# ===========================
# Virtual Environment
# ===========================
.venv/
venv/

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Secrets
# ===========================
config_bybit.py

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Databases
# ===========================
*.db

# ===========================
# CSV Outputs
# ===========================
trade_journal.csv

# ===========================
# Excel
# ===========================
*.xlsx

# ===========================
# macOS
# ===========================
.DS_Store